body {
	margin: 0px;
	padding: 0px;
	
}

.logo {
	width: 155px; 
	height:110px;
	
	margin: 5px 0px 10px 30px;
	
}

.phone {
	border-bottom: 1px solid #eee;
	padding: 2px 15px 2px 0px;
	
}

.header_menu {
	padding: 50px 0px 0px 0px;
}

.mid_section {
	background-color: #eee;
}



footer {
	
	padding: 25px;
}


/* Hide the carousel text when the screen is less than 600 pixels wide */
@media ( max-width : 600px) {
	.carousel-caption {
		display: none;
	}
}

